<div>
	<div id="gitalk-container"></div>
    <script>
        var gitalk = new Gitalk({
                 clientID: 'eee39c8ef2391d17d829',
                 clientSecret: 'c9e42cc511159cc40a9afae6755952c55f098df5',
                 repo: 'no-code',
                 owner: 'yz-hs',
                 admin: ['yz-hs']
    	})
		gitalk.render('gitalk-container')
    </script>
</div>